@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lora Regular'), local('Lora-Regular'), url(https://fonts.gstatic.com/s/lora/v14/0QIvMX1D_JOuMwr7Jg.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v11/XRXV3I6Li01BKofINeaE.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-color: #FDFCFA;
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem;
  color: black;
  font-weight: normal;
  text-decoration: none;
}
.contentWidth {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 2500px) {
  .contentWidth {
    max-width: 100%;
  }
}
a {
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem;
  color: black;
  font-weight: normal;
  text-decoration: underline;
}
i:hover {
  color: #385E3C;
}
nav {
  background-color: rgba(255, 255, 255, 0.05);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 3% 5%;
}
@media (max-width: 800px) {
  nav {
    padding: 3% 0 5% 3%;
  }
}
@media (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }
}
nav h1 {
  font-family: 'Lora', serif;
  font-size: 2rem;
  color: white;
  font-weight: normal;
  text-decoration: none;
}
nav .navLinks {
  width: 250px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 800px) {
  nav .navLinks {
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
}
@media (max-width: 500px) {
  nav .navLinks {
    width: 100%;
    margin-top: 3%;
  }
}
nav .navLinks a {
  color: white;
}
@media (max-width: 500px) {
  nav .navLinks a {
    background-color: #385E3C;
    border-radius: 10px;
    padding: 10px 0;
    width: 100px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border: 0px solid white;
  }
}
nav .navLinks .navLogInButton {
  background-color: #326089;
  border-radius: 10px;
  padding: 10px 0;
  width: 100px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border: 0px solid white;
}
nav .navLinks .navLogInButton:hover {
  background-color: #385E3C;
  border-radius: 10px;
  padding: 10px 0;
  width: 100px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border: 0px solid white;
}
@media (max-width: 500px) {
  nav .navLinks .navLogInButton:hover {
    background-color: #326089;
  }
}
footer {
  background-color: rgba(33, 30, 23, 0.05);
  margin: 7% 0 0;
  padding: 5% 5% 3%;
  text-align: center;
}
@media (min-width: 2500px) {
  footer {
    margin: 0;
  }
}
footer .footerMenu {
  margin: 0 auto;
  margin-bottom: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}
@media (min-width: 2500px) {
  footer .footerMenu {
    margin-bottom: 5%;
  }
}
@media (max-width: 500px) {
  footer .footerMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
  }
}
footer .footerMenu .footerMenuRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 5%;
}
@media (min-width: 2500px) {
  footer .footerMenu .footerMenuRow {
    width: 40%;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
  }
}
footer .footerMenu h3 {
  margin-bottom: 7%;
}
footer .footerMenu a {
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
  color: black;
  font-weight: normal;
  text-decoration: underline;
  line-height: 1.5;
}
footer .footerMenu a:hover {
  text-decoration: none;
}
footer .footerMenu .footerLinks {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 150px;
}
@media (max-width: 800px) {
  footer .footerMenu .footerLinks {
    margin-top: 3%;
  }
}
footer .footerMenu .footerConnect {
  min-width: 150px;
}
footer .footerMenu .footerConnect i {
  margin: 0 3%;
}
@media (max-width: 800px) {
  footer .footerMenu .footerConnect {
    margin-top: 3%;
  }
}
footer small {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  color: black;
  font-weight: normal;
  text-decoration: none;
}
.homePageHeader {
  background-image: url(../img/banner.jpeg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.homePageHeader .headerTextAndButton {
  position: relative;
  top: 50vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .homePageHeader .headerTextAndButton {
    top: 45vh;
  }
}
@media (max-width: 800px) and (orientation: landscape) {
  .homePageHeader .headerTextAndButton {
    top: 10vh;
  }
}
.homePageHeader .headerTextAndButton h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 3rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.homePageHeader .headerTextAndButton .headerSignUpButton {
  margin-top: 3%;
  background-color: #BF4718;
  border-radius: 10px;
  padding: 10px 0;
  width: 120px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border: 0px solid white;
}
.homePageHeader .headerTextAndButton .headerSignUpButton:hover {
  background-color: #385E3C;
}
@media (max-width: 500px) {
  .homePageHeader .headerTextAndButton .headerSignUpButton:hover {
    background-color: #BF4718;
  }
}
.homePageMain {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 2500px) {
  .homePageMain {
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
  }
}
@media (max-width: 1000px) {
  .homePageMain {
    width: 100%;
  }
}
.homePageMain section {
  background-color: rgba(33, 30, 23, 0.05);
  padding: 5%;
  margin: 5%;
  border-radius: 10px;
}
@media (min-width: 2500px) {
  .homePageMain section {
    padding: 3%;
  }
}
@media (min-width: 2500px), (max-width: 1000px) {
  .homePageMain section {
    margin: 5% 3%;
  }
}
@media (max-width: 500px) {
  .homePageMain section {
    margin: 5% 0;
  }
}
.homePageMain h2 {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 2.2rem;
  color: black;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 3%;
}
.homePageMain .sectionContent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 2500px), (max-width: 800px) {
  .homePageMain .sectionContent {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
  }
}
.homePageMain .sectionContent img {
  width: 45%;
  border-radius: 5px;
}
@media (min-width: 2500px), (max-width: 800px) {
  .homePageMain .sectionContent img {
    width: 100%;
  }
}
@media (min-width: 2500px) {
  .homePageMain .sectionContent img {
    margin-bottom: 3%;
  }
}
.homePageMain .sectionContent p {
  width: 45%;
  line-height: 1.4;
}
@media (max-width: 1200px) {
  .homePageMain .sectionContent p {
    line-height: 1;
  }
}
@media (min-width: 2500px), (max-width: 800px) {
  .homePageMain .sectionContent p {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .homePageMain .sectionContent p {
    font-size: 1.2rem;
    margin-top: 3%;
  }
}
.homePageMain .sectionMiddle {
  flex-direction: row-reverse;
}
@media (min-width: 2500px), (max-width: 800px) {
  .homePageMain .sectionMiddle {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
  }
}
.aboutHeader {
  background-image: url(../img/aboutHeader.jpeg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
@media (max-width: 500px) {
  .aboutHeader {
    height: 100vh;
  }
}
.aboutHeader .headerText {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  color: white;
}
@media (max-width: 500px) {
  .aboutHeader .headerText {
    position: relative;
    top: 50vh;
  }
}
.aboutHeader .headerText h1 {
  margin: 3% 0 3%;
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.aboutHeader .headerText p {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.aboutHeader .headerText .headerSignUpButton {
  margin: 3% 0 3%;
  background-color: #BF4718;
  border-radius: 10px;
  padding: 10px 0;
  width: 120px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border: 0px solid white;
}
.aboutHeader .headerText .headerSignUpButton:hover {
  background-color: #385E3C;
}
@media (max-width: 500px) {
  .aboutHeader .headerText .headerSignUpButton {
    margin: 10% 0 3%;
  }
  .aboutHeader .headerText .headerSignUpButton:hover {
    background-color: #BF4718;
  }
}
.aboutMainContent {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}
@media (min-width: 2500px) {
  .aboutMainContent {
    width: 95%;
  }
}
.aboutMainContent section {
  width: 25%;
  text-align: center;
  margin-top: 5%;
  background-color: rgba(33, 30, 23, 0.05);
  padding: 3%;
  border-radius: 10px;
}
@media (min-width: 2500px) {
  .aboutMainContent section {
    width: 12%;
    margin-bottom: 5%;
  }
}
@media (max-width: 800px) {
  .aboutMainContent section {
    width: 40%;
  }
}
@media (max-width: 500px) {
  .aboutMainContent section {
    width: 100%;
  }
}
.aboutMainContent img {
  width: 100%;
  border-radius: 5px;
}
.aboutMainContent h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 1.4rem;
  color: black;
  font-weight: normal;
  text-decoration: none;
}
.aboutMainContent p {
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
  color: black;
  font-weight: normal;
  text-decoration: none;
}
