.homePageHeader {
  background-image: url(../img/banner.jpeg);
  // position set to top to maintain menu text readability
  background-position: top; 
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100vh;
  .headerTextAndButton {
    position: relative;
    top: 50vh;
    text-align: center;
    .flex(@fd: column; @jc: center; @ai: center);
    h1 {
    .font(@fontWeight: bold; @fontSize: 3rem; @fontColor: white);
    //adds block border to white text for readability
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
    1px 1px 0 #000;
    }
    
    .headerSignUpButton {
      margin-top: @smallPM;
      .buttonMaker(@width: 120px; @bgColor: #BF4718; @bWidth: 0px);
    }
  }
}
.homePageMain {
  width: 90%;
  @media (max-width: 1000px) {
    width: 100%;
  }
  margin: 0 auto;
  section {
    background-color: @sectionBackground;
    padding: @normalPM;
    margin: @normalPM;
    border-radius: 10px;
    @media (max-width: 1000px) {
      margin: @normalPM @smallPM;
    }
    @media @phone {
      margin: @normalPM 0;
    }
  }
  h2 {
    text-align: center;
    .font(@fontSize: 2.2rem; @fontWeight: bold);
    margin-bottom: @smallPM;
  }
  .sectionContent {
    .flex(@jc: space-between; @ai: center);
    @media @tablet {
      .flex(@fd: column-reverse);
    }
    img {
      width: 45%;
      border-radius: 5px;
      @media @tablet {
        width: 100%;
      }
    }
    p {
      width: 45%;
      line-height: 1.4;
      @media (max-width: 1200px) {
        line-height: 1;
      }
      @media @tablet {
        width: 100%;
      }
      @media @phone {
        font-size: 1.2rem;
        margin-top: @smallPM;
      }
    }
  }
  .sectionMiddle {
    flex-direction: row-reverse;
    @media @tablet {
      .flex(@fd: column-reverse);
    }
  }
}