.homePageHeader {
  background-image: url(../img/banner.jpeg);
  // position set to top to maintain menu text readability
  background-position: top; 
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100vh;
  .headerTextAndButton {
    position: relative;
    top: 50vh;
    @media @phoneLandscape {
      top: 10vh;
    }
    text-align: center;
    .flex(@fd: column; @jc: center; @ai: center);
    h1 {
    .font(@fontWeight: bold; @fontSize: 3rem; @fontColor: white);
    //adds block border to white text for readability
    .blackLinedtext();
    }
    .headerSignUpButton {
      margin-top: @smallPM;
      .buttonMaker(@width: 120px; @bgColor: @signUp; @bWidth: 0px);
      &:hover {
        background-color: @hover;
        @media @phone {
          background-color: @signUp;
        }
      }
    }
  }
}
.homePageMain {
  width: 90%;
  @media @desktopWide {
    width: 95%;
    .flex(@jc: center);
  }
  @media @desktop1000 {
    width: 100%;
  }
  margin: 0 auto;
  section {
    background-color: @sectionBackground;
    padding: @normalPM;
    @media @desktopWide {
      padding: @smallPM;
    }
    margin: @normalPM;
    border-radius: 10px;
    @media @desktopWide, @desktop1000 {
      margin: @normalPM @smallPM;
    }
    @media @phone {
      margin: @normalPM 0;
    }
  }
  h2 {
    text-align: center;
    .font(@fontSize: 2.2rem; @fontWeight: bold);
    margin-bottom: @smallPM;
  }
  .sectionContent {
    .flex(@jc: space-between; @ai: center);
    @media @desktopWide, @tablet {
      .flex(@fd: column-reverse);
    }
    img {
      width: 45%;
      border-radius: 5px;
      @media @desktopWide, @tablet {
        width: 100%;
      }
      @media @desktopWide {
        margin-bottom: @smallPM;
      }
    }
    p {
      width: 45%;
      line-height: 1.4;
      @media @desktop1200 {
        line-height: 1;
      }
      @media @desktopWide, @tablet {
        width: 100%;
      }
      @media @phone {
        font-size: 1.2rem;
        margin-top: @smallPM;
      }
    }
  }
  .sectionMiddle {
    flex-direction: row-reverse;
    @media @desktopWide, @tablet {
      .flex(@fd: column-reverse);
    }
  }
}