//Google Font imports:
@import url('https://fonts.googleapis.com/css?family=Lora|Nunito&display=swap');

// Variables

// Color Variables
@mainBackround: #151A30;
@secondaryBackground: #7F8EC0;
@borderColor: #4B5682;
@success: #247C15;
@info: #007E89;
@warning: #AD9601;
@danger: #911A3D;
@mainFontColor: white;

// fonts
@mainFont: 'Nunito', sans-serif;
@headerFont: 'Russo One', 'Lora', serif;

//tablet max-width
@phone: ~"(max-width: 800px)";
// Mobile max-width
@phone: ~"(max-width: 500px)";