// ***Google Font import***
@import url('https://fonts.googleapis.com/css?family=Lora|Nunito&display=swap');

// ***Variables***

// Color Variables
@mainBackground: #FDFCFA;
@sectionBackground: rgba(33, 30, 23, 0.05);
@signUp: #BF4718;
@signIn: #326089;
@mainFontColor: black;
@hover: #385E3C;

// fonts
@mainFont: 'Nunito', sans-serif;
@titleFont: 'Lora', serif;

// padding & margin
@normalPM: 5%;
@smallPM: 3%;
@largePM: 7%;
@xlargePM: 10%;
//responsive design

//tablet max-width
@tablet: ~"(max-width: 800px)";
// Mobile max-width
@phone: ~"(max-width: 500px)";
@phoneLandscape: ~"(max-width: 800px) and (orientation: landscape)";
// media queries for subtle resizing on desktop
@desktop1200: ~"(max-width: 1200px)";
@desktop1000: ~"(max-width: 1000px)";